<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="Schedule_DBConnectionString" connectionString="Data Source=NEWENGLAND;Initial Catalog=Schedule_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString2" connectionString="Data Source=NEWENGLAND;Initial Catalog=Schedule_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString3" connectionString="Data Source=NEWENGLAND;Initial Catalog=Schedule_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString4" connectionString="Data Source=NEWENGLAND;Initial Catalog=Schedule_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString5" connectionString="Data Source=NEWENGLAND;Initial Catalog=Schedule_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString6" connectionString="Data Source=168.26.205.150;Initial Catalog=Schedule_DB;Persist Security Info=True;User ID=little_Darius;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString7" connectionString="Data Source=168.26.205.150;Initial Catalog=Schedule_DB;Persist Security Info=True;User ID=little_Darius;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString8" connectionString="Data Source=168.26.205.150;Initial Catalog=Schedule_DB;Persist Security Info=True;User ID=little_Darius;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_DBConnectionString9" connectionString="Data Source=168.26.205.150;Initial Catalog=Schedule_DB;User ID=little_Darius;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
